@font-face {
  font-family: 'FuturaRegular';
  src: url('../fonts/FuturaRegular.eot');
  src: url('../fonts/FuturaRegular.eot') format('embedded-opentype'), url('../fonts/FuturaRegular.woff2') format('woff2'), url('../fonts/FuturaRegular.woff') format('woff'), url('../fonts/FuturaRegular.ttf') format('truetype'), url('../fonts/FuturaRegular.svg#FuturaRegular') format('svg');
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 16px;
}
.page-header {
  border: none;
  padding: 0;
}
.page-header h2 {
  font-weight: lighter;
}
p {
  margin-bottom: 15px;
}
.thumbnail {
  border: none;
  padding: 0;
  cursor: pointer;
}
.entry-content ul:not(.list-unstyled) {
  padding-left: 20px;
  list-style-type: none;
}
.entry-content ul:not(.list-unstyled) > li {
  position: relative;
}
.entry-content ul:not(.list-unstyled) > li:before {
  display: block;
  position: absolute;
  top: 0.65em;
  left: -18px;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #ea5e4f;
}
hr {
  border-width: 1px;
  border-color: #e7e7e7;
  width: 100%;
  margin: 0;
}
.row-none {
  margin-left: 0;
  margin-right: 0;
}
.gallery .item {
  vertical-align: top;
}
blockquote footer {
  font-size: 12px;
}
/*--------------------------------------------------------------
2.1 - Navbar
--------------------------------------------------------------*/
.navbar-default {
  height: 0;
  min-height: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
@media (max-width: 767px) {
  .navbar-default {
    height: auto;
    min-height: 50px;
    border-bottom: 1px solid #e7e7e7;
  }
}
.navbar-default .navbar-header {
  float: none;
}
.navbar-default .navbar-brand {
  height: auto;
  font-size: 18px;
  margin: 24px 0 23px;
  padding: 0;
  background-color: #ffffff;
}
.navbar-default .navbar-brand:hover {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .navbar-default .navbar-brand {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}
.navbar-default > .container .navbar-brand,
.navbar-default > .container-fluid .navbar-brand {
  margin-left: 0;
}
.navbar-default .navbar-collapse {
  position: relative;
  margin-top: 165px;
  padding: 0 0 100px;
  background-color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-default .navbar-collapse {
    padding-bottom: 120px;
  }
}
.navbar-default .navbar-nav > li {
  display: block;
  float: none;
}
.navbar-default .navbar-nav > li > a {
  background-color: transparent;
  font-size: 12px;
  white-space: normal;
  padding: 10px 0;
  font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #ea5e4f;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a:first-letter {
  color: #ea5e4f;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  position: relative;
  top: auto;
  left: auto;
  min-width: 0;
  float: none;
  height: auto;
  border: none;
  box-shadow: none;
  padding: 0;
}
.navbar-default .navbar-nav > li.open > a {
  background-color: transparent;
  font-size: 12px;
  white-space: normal;
  font-size: 16px;
}
.navbar-default .navbar-nav > li.open > a:hover {
  color: #ea5e4f;
  background-color: transparent;
}
.navbar-default .navbar-nav > li.open > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > li.open > .dropdown-menu > li > a {
  font-size: 14px;
}
.navbar-default .navbar-nav > li.open > .dropdown-menu > li > a:hover {
  color: #ea5e4f;
}
.navbar-default .navbar-nav > li.open > .dropdown-menu > li.active > a,
.navbar-default .navbar-nav > li.open > .dropdown-menu > li.active > a:hover,
.navbar-default .navbar-nav > li.open > .dropdown-menu > li.active > a:active,
.navbar-default .navbar-nav > li.open > .dropdown-menu > li.active > a:focus {
  color: #ea5e4f;
  background-color: transparent;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:active,
.navbar-default .navbar-nav > li.active > a:focus {
  color: #ea5e4f;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  position: fixed;
  top: -1px;
  right: 15px;
  margin: 0;
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #333333;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #ea5e4f;
}
.navbar-container {
  position: relative;
}
@media (min-width: 768px) {
  .navbar-container {
    height: 100%;
    border-right: 1px solid #e7e7e7;
  }
}
.home .navbar-default,
.home .navbar-container {
  border: none;
}
.home .navbar-default .navbar-collapse,
.home .navbar-default .navbar-toggle {
  display: none !important;
}
/*--------------------------------------------------------------
2.2 - Nav Tabs
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.3 - Dropdown
--------------------------------------------------------------*/
.dropdown i:nth-child(1),
.dropdown.open i:nth-child(2) {
  display: none;
}
.dropdown.open i:nth-child(1),
.dropdown i:nth-child(2) {
  display: inline-block;
}
.dropdown-menu > li > a {
  background-color: transparent;
  font-size: 12px;
  white-space: normal;
  padding-left: 15px;
  padding-right: 15px;
}
.dropdown-menu > li > a:hover {
  color: #ea5e4f;
  background-color: transparent;
}
.dropdown-menu > li > a:focus {
  background-color: transparent;
}
.dropdown-li-a {
  background-color: transparent;
  font-size: 12px;
  white-space: normal;
}
.dropdown-li-a:hover {
  color: #ea5e4f;
  background-color: transparent;
}
.dropdown-li-a:focus {
  background-color: transparent;
}
/*--------------------------------------------------------------
2.1.5 - Modals
--------------------------------------------------------------*/
.modal-dialog {
  min-width: 320px;
  margin: 34px 0;
}
.modal-header {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border: none;
  z-index: 1090;
}
.modal-header .btn {
  margin-top: -1px;
}
.modal-content {
  box-shadow: none;
  border: none;
}
.modal-backdrop {
  background-color: #ffffff;
}
.modal-backdrop.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
#modal-navbar .navbar {
  margin: 0;
}
.modal .navbar-nav {
  margin-left: 0;
  margin-right: 0;
}
.modal .navbar {
  border: none;
}
.modal .navbar-collapse {
  margin: 0;
  padding: 0 15px;
  border-bottom: 1px solid #e7e7e7;
}
/*--------------------------------------------------------------
2.1.6 - Carousel
--------------------------------------------------------------*/
.gallery-carousel.modal .modal-header .container {
  height: 0;
}
.gallery-carousel.modal .modal-body {
  padding: 0;
}
.gallery-carousel.modal .modal-content img {
  margin: 1px 0;
  max-width: 100%;
}
.gallery-carousel.modal .carousel,
.gallery-carousel.modal .carousel-inner,
.gallery-carousel.modal .item {
  height: 100%;
  width: 100%;
}
.gallery-carousel.modal .carousel-control {
  background-color: transparent;
  background-image: none;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  font-size: 20px;
  color: #777777;
  text-shadow: none;
}
.carousel-control:focus {
  color: #777777;
}
.carousel-control:hover {
  filter: alpha(opacity=100);
  opacity: 1;
  color: #ea5e4f;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  -webkit-filter: none;
          filter: none;
}
.carousel-control.left {
  text-align: left;
}
.carousel-control.right {
  text-align: right;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  font-size: 30px;
}
.carousel-control .icon-prev i,
.carousel-control .icon-next i {
  vertical-align: 0;
}
.carousel-control .icon-prev:before,
.carousel-control .icon-next:before {
  content: none;
}
.carousel-control .icon-prev {
  left: 0;
  margin-left: 15px;
}
.carousel-control .icon-next {
  right: 0;
  margin-right: 15px;
}
@media (max-width: 619px) {
  .carousel-control {
    width: 15%;
  }
}
@media (max-width: 779px) {
  .carousel-control {
    width: 50px;
  }
}
/*--------------------------------------------------------------
2.1.7 - Panels
--------------------------------------------------------------*/
.panel-title {
  font-size: 18px;
}
.panel-title a {
  color: inherit !important;
}
.panel-title a:hover,
.panel-title a:focus {
  text-decoration: none;
}
.panel-title a:hover {
  color: #ea5e4f !important;
}
.panel-title a i.fa:first-of-type {
  display: none;
}
.panel-title a.collapsed i.fa:last-of-type {
  display: none;
}
.panel-title a.collapsed i.fa:first-of-type {
  display: inline-block;
}
.panel-empty {
  box-shadow: none;
  border: none;
}
.panel-empty .panel-heading {
  padding: 0;
}
.panel-empty .panel-body {
  padding: 0;
  padding-top: 16px;
  border: none !important;
}
.panel-group .panel + .panel {
  margin-top: 18px;
}
.panel-body ul:last-child {
  margin-bottom: 0;
}
.panel-body ul:last-child li:last-child p {
  margin-bottom: 0;
}
/*--------------------------------------------------------------
3.0 - Buttons
--------------------------------------------------------------*/
.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #e7e7e7;
}
.btn-default:focus,
.btn-default.focus {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #a8a8a8;
}
.btn-default:hover {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #c9c9c9;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #c9c9c9;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333333;
  background-color: #d4d4d4;
  border-color: #a8a8a8;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #ffffff;
  border-color: #e7e7e7;
}
.btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}
.btn-default:focus,
.btn-default.focus {
  color: #ea5e4f;
  background-color: #ffffff;
  border-color: #e7e7e7;
}
.btn-default:hover {
  color: #ea5e4f;
  background-color: #ffffff;
  border-color: #e7e7e7;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #ea5e4f;
  background-color: #e7e7e7;
  border-color: #e7e7e7;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #ea5e4f;
  background-color: #e7e7e7;
  border-color: #e7e7e7;
}
.btn {
  font-size: 16px;
}
.btn,
.btn:active {
  box-shadow: none;
}
.btn.btn-lg {
  font-size: 16px !important;
}
/*--------------------------------------------------------------
1.0 - General
--------------------------------------------------------------*/
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  min-height: 320px;
  /*
		-moz-osx-font-smoothing: grayscale;
		    -moz-font-feature-settings: "liga" on
		*/
}
@media (max-width: 524px) {
  body {
    padding-bottom: 100px;
  }
}
@media (min-width: 525px) and (max-width: 767px) {
  body {
    padding-bottom: 80px;
  }
}
/*--------------------------------------------------------------
1.1 - Typography
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Site Header
--------------------------------------------------------------*/
.site-header {
  position: relative;
  width: 100%;
  z-index: 2;
  font-size: 12px;
  height: auto;
}
@media (min-width: 768px) {
  .site-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
  }
  .site-header .container,
  .site-header .row {
    height: 0;
  }
}
.site-header .site-footer {
  display: none;
}
/*--------------------------------------------------------------
2.0 - Header
--------------------------------------------------------------*/
#header {
  position: relative;
  -webkit-font-smoothing: antialiased;
  height: 587.5px;
  color: #ffffff;
  font-weight: lighter;
  z-index: 2;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  #header {
    height: 450px;
  }
}
#header > .container {
  height: 100%;
}
@media (max-width: 639px) {
  #header > .container {
    padding: 0;
  }
}
#header h1 {
  margin-top: 0;
}
@media (max-width: 639px) {
  #header h1 {
    font-size: 24px;
  }
}
/*--------------------------------------------------------------
3.0 - Content
--------------------------------------------------------------*/
.primary {
  position: relative;
  padding: 70px 0 85px;
}
@media (max-width: 767px) {
  .primary {
    margin-top: -70px;
    padding-bottom: 30px;
  }
}
.secondary {
  position: relative;
}
.secondary .page-header {
  padding: 0;
}
.secondary .page-header .entry-title {
  font-family: inherit;
}
.content img {
  max-width: 100%;
}
.content .entry-description,
.content .entry-content {
  margin-bottom: 30px;
}
.content .entry-description img,
.content .entry-content img {
  margin-left: -30px;
  width: calc(100% + 30px);
}
.content .entry-description ul > li img,
.content .entry-content ul > li img {
  margin-left: -53px;
  width: calc(100% + 53px);
}
.content .entry-description em,
.content .entry-content em,
.content .entry-description a,
.content .entry-content a {
  color: #ea5e4f;
  font-style: normal;
}
.entry-header .entry-title {
  text-transform: uppercase !important;
  font-style: normal;
}
.about .content img {
  padding-bottom: 15px;
  margin-left: 0;
  max-width: 100%;
}
@media (min-width: 640px) {
  .about .content img {
    max-width: 290px;
    padding: 0 30px 15px 0;
    float: left;
  }
}
.btn-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-width: 320px;
  min-height: 320px;
}
.btn-container img {
  position: absolute;
  width: 0;
  height: 0;
}
.btn-container img.rays-left-top {
  left: 0;
  top: 0;
}
.btn-container img.rays-left-bottom {
  left: 0;
  bottom: 0;
}
.btn-container img.rays-right-top {
  right: 0;
  top: 0;
}
.btn-container img.rays-right-bottom {
  right: 0;
  bottom: 0;
}
.btn-container .btn {
  font-size: 14px;
  white-space: normal;
}
@media (min-width: 768px) {
  .btn-container .btn {
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .btn-container .btn {
    max-width: 60%;
  }
}
/*--------------------------------------------------------------
4.0 - Site Footer
--------------------------------------------------------------*/
.site-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #777777;
  text-align: left;
  font-size: 12px;
  z-index: 3;
  border-top: 1px solid #e7e7e7;
  height: 100px;
}
@media (min-width: 525px) and (max-width: 767px) {
  .site-footer {
    height: 80px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-footer {
    height: 120px;
  }
}
@media (min-width: 768px) {
  .site-footer {
    border: none;
  }
}
.site-footer .entry-footer {
  margin-right: 1px;
  line-height: 20px;
  padding-top: 15px;
}
.site-footer .copyright {
  display: block;
  background-color: #ffffff;
  margin-bottom: 10px;
}
.site-footer .development {
  display: block;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .site-footer .development {
    max-width: 80%;
  }
}
.home .navbar-default .site-footer {
  display: none !important;
}
.home footer.site-footer {
  border: none;
  display: block !important;
}
@media (min-width: 768px) {
  .home footer.site-footer {
    height: 50px;
  }
  .home footer.site-footer .copyright,
  .home footer.site-footer .development {
    display: inline-block;
  }
  .home footer.site-footer .development {
    float: right;
  }
}
